@import "tailwindcss";

.section-dual-cta {
  @apply w-full
        flex
        flex-col
        items-center
        justify-center;
}

.section-dual-cta_container {
  @apply w-[1200px] 
        mt-8
        mb-8
        flex
        items-center
        justify-center
        gap-5;
}
.section-dual-cta_title {
  @apply text-2xl;
}

.section-dual-cta_buttons {
  @apply w-full 
        grid
        grid-cols-2
        items-center
        gap-10;
}

.button-hire {
  @apply bg-gradient-to-r 
        from-orange-400
        to-orange-500
        hover:from-orange-500
        hover:to-orange-600
        transition-colors;
}
.button-job {
  @apply bg-gradient-to-r 
        from-purple-500
        to-purple-600
        hover:from-purple-600
        hover:to-purple-700
        transition-colors;
}
