@import "tailwindcss";

.section-dual-cta {
  @apply w-full
        flex
        items-center
        justify-center;
}

.section-dual-cta_container {
  @apply w-[1200px] 
        mt-8
        mb-8;
}

.section-dual-cta_content {
  @apply flex 
        flex-col;
}

.section-dual-cta_title {
  @apply text-3xl
        mb-4;
}

.section-dual-cta_buttons {
  @apply w-full 
        grid
        grid-cols-2
        gap-4;
}

.section-dual-cta_button.primary {
  @apply p-3
        text-center
        shadow-2xl
        bg-orange-400
        text-white
        rounded
        flex
        items-center
        justify-center;
}

.section-dual-cta_button.secondary {
  @apply p-3
        text-center
        shadow-2xl
        bg-purple-500
        text-white
        rounded
        flex
        items-center
        justify-center;
}
