@import "tailwindcss";

.section-beAprofessional {
  @apply w-full 
        flex
        flex-col
        items-center;
}
.section-beAProfessional_container {
  @apply w-[1200px]
        mt-8
        mb-8;
}
.section-beAProfessional_banner {
  background: linear-gradient(
    146deg,
    hsla(210, 97%, 76%, 1) 30%,
    hsla(0, 0%, 100%, 1) 50%
  );

  @apply p-32
        mb-8
       shadow-sm
        rounded;
}
.section-beAProfessional_banner-title {
  @apply text-6xl
        mb-4;
}
.section-beAProfessional_banner-subtitle {
  @apply text-2xl;
}
.section-beAProfessional_cards-container {
  @apply grid
        grid-cols-2
        mb-8;
}
.section-beAProfessional_cards {
  @apply relative
        p-10
        flex
        flex-col;
}
.section-beAProfessional_cards-container
  .section-beAProfessional_cards:nth-child(1) {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* Card 2 */
.section-beAProfessional_cards-container
  .section-beAProfessional_cards:nth-child(2) {
  border-bottom: 1px solid #000;
}

/* Card 3 */
.section-beAProfessional_cards-container
  .section-beAProfessional_cards:nth-child(3) {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.section-beAProfessional_cards-container
  .section-beAProfessional_cards:nth-child(4) {
  border-bottom: 1px solid #000;
}
.section-beAProfessional_cards-container
  .section-beAProfessional_cards:nth-child(5) {
  border-right: 1px solid #000;
}
/* .section-beAProfessional_cards-container
  .section-beAProfessional_cards:nth-child(6) {
} */
.section-beAProfessional_cards-title {
  @apply text-3xl
        mb-3;
}
.section-beAProfessional_cards-description {
  @apply text-lg;
}
.section-beAProfessional_cta-container {
  @apply flex
        flex-col
        items-center
        justify-center
        gap-4;
}
.section-beAProfessional_cta-title {
  @apply text-4xl;
}
.section-beAProfessional_cta-text {
  @apply text-2xl
        w-1/2
        text-center;
}
.section-beAProfessional_cta-link {
  @apply p-3
        w-[400px]
        bg-blue-400
        rounded
        text-center;
}
.section-beAProfessional_info {
  @apply flex
        items-center
        justify-center
        gap-2;
}
