@import "tailwindcss";

.section-beAprofessional {
  @apply w-full 
        flex
        flex-col
        items-center;
}
.section-beAProfessional_container {
  @apply w-[1200px]
        mt-8
        mb-8;
}
.section-beAProfessional_cards-container {
  @apply grid
        grid-cols-2
        gap-8 
        mb-8;
}
.section-beAProfessional_cards {
  @apply relative
        p-10
        flex 
        flex-col
        border
        border-green-400
        rounded-3xl
        shadow-lg
        mt-2
        bg-green-100
        min-h-[250px];
}
.section-beAProfessional_card-icon {
  @apply border
        rounded-full;
}
.section-beAProfessional_cards-title {
  @apply text-3xl
        font-light
        mb-3;
}
.section-beAProfessional_cards-description {
  @apply text-lg
        italic
        font-light;
}
.section-beAProfessional_cta-container {
  @apply flex
        flex-col
        items-center
        justify-center
        gap-4;
}
.section-beAProfessional_cta-title {
  @apply text-4xl
        font-light;
}
.section-beAProfessional_cta-text {
  @apply text-2xl
        w-1/2
        text-center
        font-extralight;
}
.section-beAProfessional_cta-link {
  @apply p-3
        w-[400px]
        bg-blue-400
        rounded
        text-center
        text-white;
}
.section-beAProfessional_info {
  @apply flex
        items-center
        justify-center
        gap-2;
}
