@import "tailwindcss";

/* ESTILOS DA PAGINA DE PERFIL DO CLIENTE */
.page-client-profile_container {
  @apply w-[1200px] 
        border-green-500
        mt-8
        mb-8
        
        max-sm:p-7
        
        max-md:p-8
        
        max-lg:w-full
        max-lg:m-0
        max-lg:p-10
        
        max-xl:w-[900px];
}
.page-client-profile_header {
  @apply relative 
        flex
        mb-4
        gap-3;
}
.page-client-profile_avatar {
  @apply relative;
}
.page-client-profile_avatar-container {
  @apply relative 
        h-24 
        w-24 
        rounded-full 
        overflow-hidden 
        bg-gray-200 
        
        max-md:h-20
        max-md:w-20;
}
.page-client-profile_avatar-label {
  @apply absolute 
        bottom-0 
        right-0 
        bg-blue-600 
        text-white 
        rounded-full 
        p-1 
        cursor-pointer 
        hover:bg-blue-700 
        border-2;
}
.page-client-profile_container-title {
  @apply flex
        items-center;
}
.page-client-profile_title {
  @apply text-4xl 
        font-bold
        
        max-md:text-2xl;
}
.page-client-profile_error {
  @apply text-red-500 
        text-lg
        mt-1;
}
.page-client-profile-container_success {
  @apply bg-green-100 
        border-l-4 
        border-green-500 
        text-green-700 
        p-4 
        m-4;
}
.page-client-profile_form {
}
.page-client-profile_link-prestador {
  @apply text-center 
        p-2;
}
.page-client-profile_link-prestador-button {
  @apply cursor-pointer
        text-lg
        font-medium
        text-blue-500
        hover:underline
        hover:text-blue-400
        hover:font-bold;
}
.page-client-profile-buttons {
  @apply flex
        gap-2
        items-end
        justify-end    
        p-2;
}
.page-client-profile-buttons-cancel {
  @apply p-3
        bg-gray-400
        rounded 
        text-gray-800 
        hover:bg-gray-400
        cursor-pointer;
}
.page-client-profile-buttons-save {
  @apply p-3
        bg-blue-600 
        text-white 
        rounded 
        hover:bg-blue-700
        cursor-pointer;
}
.page-client-profile-buttons-edit {
  @apply p-3
        bg-blue-600 
        text-white 
        rounded-md 
        hover:bg-blue-700
        cursor-pointer;
}
/* ESTILOS DO FORMULARIO DE EDIÇÃO DO CLIENT */
.profile-client-container {
}
.profile-client-container_grid {
  @apply grid 
        grid-cols-2
        gap-4
        mb-4
        
        max-sm:grid-cols-1;
}
.profile-client_grid-inputs {
}
.profile-client_grid-label {
  @apply block 
        text-lg
        uppercase 
        font-medium 
        text-gray-700
        mb-2;
}
.profile-client_inputs {
  @apply mt-1 
        block 
        w-full 
        rounded-md 
        border-gray-300 
        shadow-sm 
        focus:border-indigo-500 focus:ring-indigo-500 
        sm:text-sm 
        disabled:bg-gray-100 
        p-4
        
        max-md:p-3;
}
