@import "tailwindcss";

.section-how-it-works {
  @apply w-full 
        flex
        items-center
        justify-center
        bg-blue-50
        pt-8
        pb-8;
}

.section-how-it-works_container {
  @apply w-[1200px]
        mt-8
        mb-8
        text-center;
}

.section-how-it-works_title {
  @apply text-3xl 
        font-bold 
        text-blue-700
        mb-2;
}

.section-how-it-works_subtitle {
  @apply text-lg 
        text-gray-600
        mb-4;
}

.section-how-it-works_steps-grid {
  @apply grid 
        grid-cols-3
        gap-4;
}

.section-how-it-works_step-card {
  @apply bg-gray-50 
        p-8 rounded-lg 
        shadow-2xl
        flex 
        flex-col 
        items-center;
}

.section-how-it-works_step-icon {
  @apply mb-2;
}

.section-how-it-works_step-title {
  @apply text-xl 
        font-semibold 
        text-gray-800 
        mb-2;
}

.section-how-it-works_step-description {
  @apply text-gray-600;
}
