@import "tailwindcss";

/* ESTILOS GERAIS DA SEÇÃO */
.section-professional {
  @apply w-full
        grid
        justify-items-center
        p-10
        
        max-sm:p-6
        
        max-lg:p-8
        
        max-xl:p-9;
}
.section-professional-error {
  @apply text-red-500 
        text-center 
        mt-4;
}
/* TELA INICIAL */
.section-professional_default {
  @apply grid
        grid-cols-3
        w-[65vw]
        gap-8

        max-md:w-full
        max-sm:grid-cols-1
        max-sm:gap-0
        
        max-md:grid-cols-3
        
        max-lg:w-[85vw]
        max-lg:gap-4
        
        
        max-xl:w-[80vw]
        max-xl:gap-7;
}
.section-professional_default-item {
  @apply border
        border-gray-400
        p-5
        relative
        rounded
        shadow
        grid
        items-center
        text-center
        justify-items-center
        gap-2
        mt-4
        
        max-sm:p-4;
}
.section-professional_default-icon-container {
  @apply border
        border-gray-400
        absolute
        -top-8
        -translate-x-1/2
        left-1/2
        p-4
        rounded-full
        bg-gray-100;
}
.section-professional_default-icon {
  @apply text-3xl;
}
.section-professional_default-title {
  @apply mt-4 
        text-3xl

        max-md:text-2xl;
}
/* MENSAGEM DE NENHUM RESULTADO */
.section-professional-message {
  @apply w-[65vw]
        grid
        gap-3
        
        max-md:w-full
        
        max-lg:w-[85vw]
        
        max-xl:w-[80vw];
}
.section-professional-message-title {
  @apply text-3xl
  
        max-lg:text-2xl;
}
.section-professional-message-title span {
  @apply uppercase 
        italic
        font-bold
        text-green-600;
}
.section-professional-message-text {
  @apply italic
        font-bold
        text-blue-700
        text-2xl
        
        max-lg:text-xl;
}
/* LISTA DE PROFISSIONAIS */
.section-professional_container-list {
  @apply w-[75vw]
        
        
        

        max-md:w-full
        
        max-lg:w-[95vw]
       
        
        max-xl:w-[90vw];
}
.section-professional-container-card {
  @apply grid
        grid-cols-3
        gap-3

        max-sm:grid-cols-1

         max-lg:grid-cols-2;
}
