@import "tailwindcss";

.section-categories {
  @apply w-full
        flex 
        flex-col 
        items-center 
        relative
        
        max-sm:p-7 
        
        max-md:p-8
        
        max-lg:p-10
        max-lg:pt-9;
}

.section-categories__conteiner {
  @apply w-[1200px]
        relative 
        mb-8
      
        max-lg:w-full
        
        max-xl:w-[900px];
}

.section-categories__button-left {
  @apply absolute 
        -left-5 
        top-1/2 
        -translate-y-1/2 
        bg-white 
        rounded-full 
        p-2 shadow-md 
        hover:bg-gray-200 
        z-10
        cursor-pointer
        max-md:hidden;
}
.section-categories__cards {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
  @apply flex
        overflow-x-scroll 
        scroll-smooth 
        space-x-4;
}
.section-categories__cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.section-categories__card {
  @apply flex 
        flex-col 
        items-center
        flex-shrink-0  
        rounded-lg 
        shadow 
        bg-white 
        border 
        border-slate-200

        w-80

        max-md:w-72

        max-lg:w-64;
}
.section-categories__card-image {
  @apply relative 
        h-[200px] 
        w-full;
}
.section-categories__card-image-img {
  @apply h-full 
        w-full 
        object-cover 
        rounded-t-lg;
}
.section-categories__card-content {
  @apply p-4 
        flex-grow 
        w-full
        flex
        flex-col
        items-start;
}
.section-categories__card-title {
  @apply font-semibold 
        text-xl;
}
.section-categories__card-description {
  @apply mt-1 
        text-gray-500;
}
.section-categories__button-right {
  @apply absolute 
        -right-5 
        top-1/2 
        -translate-y-1/2 
        bg-white 
        rounded-full 
        p-2 shadow-md 
        hover:bg-gray-200 
        z-10
        cursor-pointer
        max-md:hidden;
}
