@import "tailwindcss";

.container-title {
  @apply border-b
        border-gray-500
        mb-8
        pb-2
        
        max-md:mb-4
        
        max-lg:mb-5
        
        max-xl:mb-6;
}
.title {
  @apply text-3xl

        max-md:text-xl;
}
