@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
* {
  overflow-x: hidden;
}
body {
  @apply flex
          flex-col
          items-center
          justify-center;
}
.home {
  @apply w-[1200px] 
       
        grid
        [grid-template-columns:1.5fr_4fr]
        gap-2
        p-4
        
        max-md:grid-cols-1
        max-md:w-full
        
        max-lg:w-[90vw]
        max-lg:[grid-template-columns:2fr_5fr]
        
        max-xl:w-[900px]
        max-xl:[grid-template-columns:1fr_3fr];
}
.home aside {
  @apply max-md:p-4;
}
.home section {
  @apply border-2;
}
