@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.home-container,
.page-profile,
.page-client-profile {
  @apply w-full 
      flex 
      flex-col 
      items-center 
      justify-center 
    
      max-md:gap-0

      max-lg:gap-0;
}
.logo {
  font-family: "Stack Sans Notch", sans-serif;
  @apply text-4xl
  
        max-md:text-xl
        
        max-lg:text-3xl;
}
.page-register,
.page-login {
  @apply grid
      [grid-template-columns:3fr_2.5fr]
      
      max-md:grid-cols-1
      
      max-lg:grid-cols-2
      
      max-xl:[grid-template-columns:3fr_2.8fr];
}
.page-login_bg-image {
  @apply bg-[url('https://res.cloudinary.com/dkrpmbjml/image/upload/v1764865632/login_i2eohx.jpg')];
}
.page-register_bg-image {
  @apply bg-[url('https://res.cloudinary.com/dkrpmbjml/image/upload/v1764865625/cadastro_qeaoh1.jpg')];
}
.page-register_default,
.page-login_default {
  @apply bg-contain 
        bg-center 
        bg-no-repeat
        
        min-h-screen

        max-sm:min-h-[30vh]
        
        max-md:min-h-[50vh]
        
        max-lg:min-h-[70vh]
        
        max-xl:min-h-[80vh];
}
.page-login_container-form,
.page-register_container-form {
  @apply flex
        items-center
        justify-center

        p-20

        max-sm:p-7
        
        max-md:p-8
        
        max-lg:p-10
        
        max-xl:p-14;
}
