@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
* {
  font-family: "Inter", sans-serif;
}
body {
}
header {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
header span {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  @apply text-4xl
        
        max-md:text-xl;
}
.home-page_container {
  @apply w-full 
        flex
        flex-col
        items-center
        justify-center
        gap-8
        
        max-md:gap-4
        max-md:p-5
        
        max-lg:gap-5;
}

.content-layout {
  @apply grid 
        [grid-template-columns:1.5fr_4fr]
        gap-8
        w-[1200px]
        
        max-md:grid-cols-1
        max-md:mt-0
        max-md:gap-y-0.5
         max-md:w-full
        
        max-lg:[grid-template-columns:2fr_5fr]
        max-lg:w-[750px]
        
        
        max-xl:[grid-template-columns:1.5fr_3.5fr]
         max-xl:w-[900px];
}
.content-layout aside {
  @apply max-md:p-5;
}
.content-layout section {
  @apply max-md:p-5
          max-md:pt-0;
}
