@import "tailwindcss";

.prestador-form_container {
  @apply grid 
        gap-3
        
        max-sm:gap-1;
}
.prestador-form_box-grid-1 {
  @apply grid 
        grid-cols-2
        gap-5
        
        max-md:gap-2
        
        max-lg:gap-3;
}
.prestador-form_box-grid-2 {
  @apply grid
        grid-cols-3
        gap-5
        
        max-sm:grid-cols-1
       
        max-md:gap-2

        max-lg:grid-cols-2
        max-lg:gap-3;
}
.prestador-form_box-grid-3 {
  @apply mb-3

        max-md:mb-2;
}
.prestador-form_label {
  @apply text-lg 
        block  
        font-medium 
        text-gray-700
        mb-1
        
        max-sm:mb-0.5;
}
.prestador-form_input {
  @apply p-3
        shadow
        bg-white
        w-full
        rounded
        outline-none
        
        max-sm:p-2;
}
.prestador-form_textarea {
  @apply p-3
        h-52
        bg-white
        w-full
        rounded
        outline-none
        resize-none
        text-lg
        
        max-sm:p-2;
}
