@import "tailwindcss";

.section-termsOfUse {
  @apply flex
        items-center
        justify-center
        bg-gray-100;
}
.section-termsOfUse_container {
  @apply mt-8
        mb-8
        p-14
        bg-white
        shadow
        rounded
        flex
        flex-col
        gap-8
        w-[1200px];
}
.section-termsOfUse_title {
  @apply text-4xl;
}
.section-termsOfUse_subtitle {
  @apply italic
        font-medium
        text-2xl;
}
.section-termsOfUse_description {
  @apply text-lg
        font-light
        w-full;
}
.section-termsOfUse_list {
  @apply flex
        flex-col
        gap-2
        text-lg
        list-disc
        font-light
        ml-5;
}
.section-termsOfUse_list li {
  @apply mb-1;
}
