@import "tailwindcss";

.container-search {
  @apply relative  
        w-[1200px]
        
        max-sm:w-full

        max-md:w-[80vw]

        max-lg:w-[700px]

        max-xl:w-[900px];
}

.search {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  @apply w-full  
        rounded-lg 
        py-4 
        pl-10 
        pr-4 
        focus:outline-none;
}

.search-icon {
  @apply absolute 
        left-3 
        top-1/2 
        -translate-y-1/2 
        text-gray-500 text-xl;
}
