/* From Uiverse.io by adamgiebl */
.button {
  font-size: 16px;
  padding: 1em 3.3em;
  cursor: pointer;
  transform: perspective(300px) rotateX(15deg);
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  will-change: transform;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(70, 135, 252, 1);
  width: 100%;
}

.button:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

.button:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}
