@import "tailwindcss";

.layout-footer {
  @apply w-full 
        flex
        items-center
        justify-center
        bg-blue-700 
        text-white
        pt-32
        pb-32
        
        max-sm:p-7
        
        max-md:p-8
        max-md:pt-14
        max-md:pb-14
        
        max-lg:p-10
        max-lg:pt-20
        max-lg:pb-20;
}
.layout-footer_container {
  @apply w-[1200px]
        flex
        justify-between
        items-start 
        gap-8

        max-md:flex-col
        
        max-lg:w-full
        max-lg:gap-4
        
        max-xl:w-[900px]
        max-xl:gap-5;
}
.footer-column {
  @apply flex
        flex-col
        gap-2;
}

.footer-column-right {
  @apply items-start;
}

.footer-column-title {
  @apply text-lg
        uppercase
        font-bold
        text-white;
}

.footer-links {
  @apply flex
        flex-col
        gap-2;
}
.footer-link {
  @apply text-gray-300
        hover:text-blue-400
        transition-colors;
}

.footer-social {
  @apply flex
        gap-2
        mt-0.5;
}
.footer-social-icon {
  @apply text-white
        hover:text-blue-200
        transition-colors;
}
.footer-copyright {
  @apply text-sm
        text-gray-300
        mt-2;
}
