@import "tailwindcss";

.section-faq {
  @apply w-full
        flex
        items-center
        justify-center
        bg-gray-50;
}
.section-faq_container {
  @apply w-[1200px]
        mt-8
        mb-8;
}
.section-fac_container-title {
  @apply mb-8;
}
.section-faq_title {
  @apply text-4xl
        text-center;
}
.section-faq_list {
  @apply flex
        flex-col
        gap-2;
}
.section-faq_item {
  @apply bg-white
        overflow-hidden
        shadow
        rounded;
}
.section-faq_question {
  @apply w-full
        text-lg
        flex
        justify-between
        items-center
        p-5
        text-left
        font-semibold
        text-gray-800
        hover:bg-gray-50
        transition-colors
        cursor-pointer;
}
.section-faq_answer {
  @apply max-h-0
        overflow-hidden
        transition-all
        duration-500
        ease-in-out
        px-5
        text-gray-600
        opacity-0;
}

.section-faq_item.active .section-faq_answer {
  @apply max-h-96
        pb-4
        pt-4
        opacity-100
        border-t
        border-gray-100;
}

.section-faq_item.active .section-faq_question {
  @apply text-blue-600;
}
