@import "tailwindcss";

.section-banner {
  @apply w-[1200px]
        grid
        [grid-template-columns:4fr_2fr]
        mt-8

        max-sm:grid-cols-1
        max-sm:w-full
        max-sm:mt-0
        max-sm:relative
        
        max-md:w-[80vw]
        max-md:mt-2

        max-lg:w-[700px]

        max-xl:w-[900px]
        max-xl:[grid-template-columns:3fr_1.5fr]
        max-xl:mt-5;
}
.section-banner__content {
  @apply flex
        flex-col
        justify-center
  
        max-sm:pt-16
        max-sm:pb-16;
}
.section-banner__content h1 {
  @apply text-5xl
        font-bold
        z-10
        max-md:text-3xl
        
        max-lg:text-4xl;
}
.section-banner__content p {
  @apply text-2xl
        font-medium
        mt-4
        z-10
        max-md:text-lg
        max-md:mt-2
        
        max-lg:text-xl
        max-lg:mt-3;
}
.section-banner__image {
  @apply bg-[url('/mhdl_u3a1_230613-removebg-preview.png')]
        object-cover
        bg-contain
        bg-no-repeat
        bg-center
        h-[400px]

        max-sm:bg-contain
        max-sm:h-full
        max-sm:w-full
        max-sm:absolute
        max-sm:left-1/2
        max-sm:-translate-x-1/2
        max-sm:bottom-0
        max-sm:-z-30
        
        max-md:h-[250px]

        max-lg:h-[300px];
}
.section-banner__overlay {
  @apply hidden
        max-sm:block
        max-sm:w-full
        max-sm:h-full
        max-sm:absolute
        max-sm:top-0
        max-sm:left-0
        max-sm:bg-white/40;
}
