@import "tailwindcss";

.form-login {
  @apply w-[550px]
        
        max-md:w-11/12;
}
.form-register {
  @apply flex 
        flex-col 
        gap-2
        w-full;
}
.form-register_container-title {
  @apply mb-4 
        border-b
        border-gray-400
        p-4
        pl-0;
}
.form-login_title,
.form-register_title {
  @apply text-4xl 
        font-bold;
}
.form-login_error,
.form-register_error {
  @apply text-red-500 
        text-center;
}
.form-register_sucess {
  @apply text-green-500;
}
.form-register_container-box_inputs {
  @apply grid
        grid-cols-2
        gap-2;
}
.form-register_container-box_inputs-prestador,
.form-register_container-box_inputs-clientes {
  @apply grid
        grid-cols-3
        gap-2;
}
.form-register_container-box_inputs-prestador-1 {
  @apply grid
        grid-cols-4
        gap-2
        mb-2;
}
.form-register_container_inputs {
  @apply flex 
      flex-col 
      gap-0.5;
}
.form-login_label,
.form-register_label {
  @apply block 
        text-lg
        uppercase 
        font-light 
        text-gray-700;
}
.form-login_input,
.form-register_input {
  @apply mt-1 
        p-2.5 
        border 
        border-slate-300 
        outline-none 
        rounded shadow
  
        max-sm:p-2;
}
.form-register_textarea {
  @apply mt-1 
        p-3 border 
        border-slate-300 
        outline-none 
        rounded 
        shadow 
        resize-none 
        h-32;
}
.form-register_checkbox {
  @apply mr-1;
}
.form-terms {
  @apply ml-1 
        italic
        text-blue-700
        font-medium
        hover:text-blue-500;
}
.form-login_button,
.form-register_button {
  @apply mt-4 
        p-2.5 
        mb-1
        w-full
        text-white 
        bg-blue-500
        disabled:bg-blue-300
        disabled:cursor-not-allowed
        disabled:hover:bg-blue-300
        hover:bg-blue-400 
        cursor-pointer 
        rounded 
        shadow
        
        max-sm:p-2;
}
.form-login_register {
  @apply flex 
        flex-col
        justify-center
        items-center 
        gap-1
        mt-4;
}
.form-login_register_text {
  @apply text-lg;
}
.form-login_register_link {
  @apply font-medium 
        text-xl 
        text-blue-500 
        hover:text-blue-400;
}
