@import "tailwindcss";

.section-banner {
  @apply w-full 
        bg-[url('https://res.cloudinary.com/dkrpmbjml/image/upload/v1764378183/banner_w3jrr9.png')]
        bg-cover
        bg-center
        bg-fixed
        bg-no-repeat
        text-white text-shadow-xs;
}
.section-banner__content {
  @apply flex text-center
        w-[1200px]
        flex-col
        items-center
        justify-center
  
        max-sm:pt-16
        max-sm:pb-16;
}
.section-banner__overlay {
  @apply p-32 bg-black/30 flex items-center justify-center;
}

.section-banner__content h1 {
  @apply text-6xl
        font-bold
        z-10
        max-md:text-3xl
        
        max-lg:text-4xl;
}
.section-banner__content p {
  @apply text-3xl
        font-medium
        mt-4
        z-10
        max-md:text-lg
        max-md:mt-2
        
        max-lg:text-xl
        max-lg:mt-3;
}
.section-banner_register {
  @apply mt-4 w-[500px] rounded p-3 bg-orange-200 hover:bg-orange-300 hover:transition-all  text-black;
}
