@import "tailwindcss";

.section-banner {
  @apply w-full 
        bg-[url('https://res.cloudinary.com/dkrpmbjml/image/upload/v1764378183/banner_w3jrr9.png')]
        bg-cover
        bg-center
        bg-fixed
        bg-no-repeat
        text-white 
        text-shadow-xs;
}
.section-banner__content {
  @apply flex 
        w-[1200px]
        flex-col
        justify-center
        items-start
        text-left
        
        max-md:w-full
                
        max-xl:w-[900px];
}
.section-banner__overlay {
  @apply p-32
        bg-black/30 
        flex 
        items-center 
        justify-center

        max-sm:p-7
        
        max-md:p-8
        max-md:min-h-64
        
        max-lg:p-24
        max-lg:pl-10
        max-lg:pr-10
        
        max-xl:p-28;
}
.section-banner__title {
  @apply text-6xl
        font-bold
        z-10

        max-xl:text-5xl;
}
.section-banner__description {
  @apply text-3xl
        font-medium
        mt-4
        z-10

        max-md:text-xl
        max-md:mt-2
        
        max-lg:text-2xl
        max-lg:mt-3;
}
